<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <header>
        <figure>
            <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo">
        </figure>
        <div class="menu">
            <nav>
                <a href="{{ url_for('homepage') }}"> Home </a>
                <a href="{{ url_for('sobre') }}"> Quem somos </a>
                <a href="{{ url_for('contato') }}"> Contato </a>
            </nav>
        </div>
    </header>
    <section class="main">
        <div class="formulario">
            {{ form.hidden_tag() }}

            {{ form.email.label }}
            {{ form.email }}

            {{ form.assunto.label }}
            {{ form.assunto }}

            {{ form.descricao.label }}
            {{ form.descricao }}

            {{ form.btn_submit }}
        </div>
    </section>
    <footer>
        <p>Todos os direitos reservados</p>
    </footer>
</body>
</html>