{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="capa">
        <figure>
            <img src="{{ url_for('static', filename='assets/capa.png') }}" alt="Imagem de Capa">
        </figure>
    </div>
    <div class="sobre">
        <h2>Sobre a Universidade.</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero laudantium error, nam ducimus architecto dolor reprehenderit reiciendis nobis vel eaque aliquam veritatis dolorum mollitia deleniti voluptate, maiores dolorem a? Dignissimos.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero laudantium error, nam ducimus architecto dolor reprehenderit reiciendis nobis vel eaque aliquam veritatis dolorum mollitia deleniti voluptate, maiores dolorem a? Dignissimos.</p>
    </div>
{% endblock %}
