{% extends "base.html" %}

{% block title %}Sobre Nós{% endblock %}

{% block content %}
    <div class="sobre">
        <h2>Quem Somos</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quod quae aliquam error quaerat tenetur ipsum beatae repellendus doloribus culpa est vero exercitationem asperiores distinctio rerum deserunt, voluptatibus minima incidunt!</p>
    </div>

    <div class="sobre">
        <h2>5 Motivos para Estudar</h2>
        <ol>
            <li>Material sempre atualizado;</li>
            <li>tablets em sala de aula;</li>
            <li>professores renomados</li>
            <li>universidade bem avaliada;</li>
            <li>ótima localização.</li>
        </ol>
        <hr>
    </div>

    <div class="sobre">
        <h2>Objetivos</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente eaque dignissimos blanditiis rerum accusamus nulla provident quo labore sunt voluptatibus qui sequi, pariatur nihil dicta incidunt aperiam quae repellendus cumque.</p>
    </div>
{% endblock %}
